
.FindPassword_Page {
    height: auto;
    /* background-color: lightcoral; */
    text-align: center;
    overflow: auto;
    background-color: #e5f6f9;
}
.FindPassword_Page>div:nth-child(1){
    font-size: 3rem;
    padding-top: 40px;
}
.FindPassword_Page p{
    margin: 30px;
    display: block;
}

.FindPassword_Authentication {
    /* background-color: khaki; */
    display: flex;
}
.FindPassword_Authentication>div{
    width: 50%;
    background-color: white;
}

.FindPassword_Authentication button{
    background-color: #27979d;
    /* font-weight: bold; */
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    width: 150px;
    height: 50px;
}