.subtitle_p {
    display: block;
    margin-bottom: 1.5rem;
    color: black;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    word-break: keep-all;
}

.subtitle_p:hover {
    color: white;
    background-color: deepskyblue;
    border-radius: 15px;
}

.subtitle_color {
    background-color: deepskyblue;
    border-radius: 15px;
}