/* 컨텐츠별 박스 */
.TermsAndConditions_div {
    margin-top: 15px;
}

/* 소제목 */
.TermsAndConditions_subtitle {
    display: inline-block;
    font-size: 20px;
    font-weight: 550;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* scroll box 부모 */
.TermsAndConditions_content {
    overflow: auto;
}

/* 내용 scroll */
.TermsAndConditions_content_scrollbox {
    background-color: #F6F6F6;
    height: 180px;
    padding: 30px;
    margin: 0 15px;
    overflow-y: auto;
    border: black solid 1px;
}

.TermsAndConditions_subtitle {
    margin: 15px;
    font-size: 25px;
    font-weight: 700;
}

/* input */
.TermsAndConditions_input_div {
    /* margin-bottom: 10px; */
    display: flex;
    align-items: center;
    padding-left: 10px;
}

/* checkbox1confirm */
.checkbox1confirm{
    color: red;
    margin-left: 0.5rem;
    font-size: smaller;

    /* display: none; */
}
.checkbox2confirm{
    color: red;
    margin-left: 0.5rem;
    font-size: smaller;

}
.checkbox3confirm{
    color: red;
    margin-left: 0.5rem;
    font-size: smaller;

}

@media (max-width : 1200px) {

    /* scroll 부모
    .TermsAndConditions_content {
        position: inherit;
        top: 0;
        left: 0;
        overflow: auto;
    } */

    /* 내용 박스 */
    .TermsAndConditions_content_scrollbox {
        position: inherit;
        left: 0;
        overflow: auto;
    }
}