.UserTypeAgree_container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 7rem;

    /* background-color: #F0FFFF; */
}

.UserTypeAgree_button{
    width: 12rem;
    height: 4rem;

    display: inline;
    text-align: center;
    line-height: 4rem;
    
    text-decoration: none;

    cursor: pointer;
}

.UserTypeAgree_Agree{
    margin-right: 100px;
    background-color: lightblue;
}
.UserTypeAgree_Disagree{
    /* margin-right: 100px; */
    background-color: lightgray;
}