.XBtnResetDeleteUpdate {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

/* 초기화 삭제 */
.XBtnResetDeleteUpdate_ResetDelete {
    margin-left: 20px;
}

.XBtnResetDeleteUpdate_ResetDelete button {
    width: 100px;
    height: 50px;
    margin-right: 30px;
    font-size: large;
    background-color: #059da5;
    color: white;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

/* 변경 */
.XBtnResetDeleteUpdate_Update {
    margin-left: auto;
    margin-right: 30px;
    width: 100px;
    height: 50px;
    background-color: rgb(88, 143, 175);
    color: white;
    font-size: large;
    border: none;
}