/* 전체박스 */
.XclassSearchBox_box {
    margin-top: 40px;
    width: 100%;
}

/* 강의정보 글자 */
.XclassSearchBox_title {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

/* 대분류 세부종목 박스  */
.XclassSearchBox_division {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 3px solid #C9EDFA;
    background-color: #ceeff250;
    padding: 5px 0;
}

/* 대분류 세부종목 글자 */
.XclassSearchBox_division>span {
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: bold;
    padding-left: 10px;
}

/* 대분류의 select 박스 */
.XclassSearchBox_division span:nth-of-type(1) select {
    margin-left: 35px;
}

/* 대분류 세부종목 select */
.XclassSearchBox_division>span>select {
    margin-left: 20px;
    height: 26px;
    width: 5rem;
}

/* 검색 컨테이너 박스 */
.XclassSearchBox_inputBox {
    display: grid;
    grid-template-columns: 79px 250px;
    padding: 5px 0;
    width: 100%;
    background-color: #ceeff250;
}

/* 강좌명 */
.XclassSearchBox_inputBox span {
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: bold;
    padding-left: 10px;
}

/* input 태그 */
.XclassSearchBox_input {
    height: 26px;
    margin-left: 15px;
    margin-right: 30px;
}

/* 검색 요일, 대상(성인, 아동) */
.XclassSearchBox_target {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px 0;
    background-color: #ceeff250;
}

.XclassSearchBox_target span {
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: bold;
    padding-left: 10px;
}

.XclassSearchBox_target>span>select {
    margin-left: 20px;
    height: 26px;
    width: 5rem;
}