@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

* {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;

  
}

/* body 전체  */
body {
  height: 100vh;

  min-width: 500px;
  width: 1200px;
  margin: 0 auto;


}

.Modal_button{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width : 1200px) {
  body {
    margin: 0 auto;
    height: 100vh;
    width: 80vw;
  }
}